/*Adaptando Imágenes*/
@media (min-width: 600px) and (max-width: 900px) {
  .container {
    background-image: url(../img/dawn.png);
  }
  .kitten {
    background-image: url(../img/kitten-large.png);

  }
}

@media (min-width: 1px) and (max-width: 599px) {
  .container {
    background-image: url(../img/night.jpg);
  }
  .kitten {
    background-image: url(../img/kitten-small.png);

  }
}